body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #fff;
}
::selection {
  background: rgba(255, 2, 1, 0.1);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 970px;
}
.m-t-20 {
  margin-top: 20px !important;
}
.col-md-4 {
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.org-media-region {
  justify-content: space-between;
  display: flex;
}
.d-flex {
  display: flex;
}
.d-flex p{
  text-align: left;
}
.header-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
  text-align: left;
}
.region-test {
  margin-top: 20px;
}
.region-test p {
  font-weight: normal;
  font-size: 17px;
  color: #000;
}
.region-test .row {
  justify-content: center;
}
.region-test .d-flex {
  justify-content: space-between;
  align-items: center;
}
.refresh-icon {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.refresh-icon:hover {
  transform: scale(1.1);
}
.refresh-icon img {
  height: 40px;
  transition: 0.5s;
  /* animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
/* @keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} */
.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 10px;
  position: absolute;
  z-index: 99999 !important;
  left: -28px;
  margin-left: 0;
  font-size: 12px;
  bottom: -24px;
  white-space: nowrap;
}
.tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 35px;
  margin-left: 0;
  border: 5px solid transparent;
  border-bottom-color: #000;
  right: 35px;
}
.refresh-icon:hover .tooltiptext {
  visibility: visible;
}
.refresh-icon:hover .tooltiptext:after {
  left: 43px;
}
.green-border {
  border: 1px solid #6AA84F;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  transition: 0.5s;
}
.gray-border:hover,
.green-border:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gray-border {
  border: 1px solid #eee;
}
.number {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  box-shadow: inset 0px -1px 2px #797979;
  font-weight: bold;
  font-size: 16px;
}
.region-sec {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  margin-top: 26px;
  align-items: center;
}
.region-name {
  margin-left: 12px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.region-img img {
  width: 32px;
  height: 32px;
}
.latency {
  color: #8A8A8A;
  margin-bottom: 12px;
  white-space: nowrap;
  font-weight: bold;
  line-height: normal;
}
.latency span {
  display: block;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #6AA84F;
}
.count-no {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #F5F5F5;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 22px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
}
.recomend {
  position: relative;
}
.recomend img {
  width: 100px;
  position: absolute;
  bottom: -25px;
  right: 0;
}
.latency .orange {
  color: #E69138;
}
.latency .red {
  color: #FF0000;
}
.progress {
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #FFD33D, #EA4AAA 17%, #B34BFF 34%, #01FEFF 51%, #FFD33D 68%, #EA4AAA 85%, #B34BFF);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}
@keyframes progress-animation {
  0% {
      background-position: 100%;
  }
  100% {
      background-position: 0;
  }
}
.top_bg_image {
  background-image: url("/public/bottom-bg.png");
  transform: rotate(180deg);
  height: 200px;
  width: 212px;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.region-test {
  margin-bottom: 20px;
}
svg {
  fill: #000;
}
a.logo {
  display: grid;
  place-items: start;
  width: 200px;
  height: 46.14px;
  left: 0;
  padding: 18px 0 0 30px;
}
h4.header-title {
  margin-top: 70px;
}
.refresh-icon {
  position: unset;
}
.loader_wrapper {
  background: #eee;
  height: 2px;
  margin-bottom: 10px;
}
/* card section responsive */
@media (max-width: 1045px) {
  .row {
      margin: 0;
  }
}
@media (max-width: 630px) {
  .col-md-4 {
      flex-basis: 100%;
      max-width: 100%;
  }
}
@media (max-width: 576px) {
  .green-border .region-img img {
      width: 60px;
      height: 60px;
      padding: 8px 0 13px 0;
  }
}
.global_wrapper {
  background-image: url("/public/bottom-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 200px;
  padding-bottom: 60px;
}
@media (max-width: 1012px) {
  a.logo {
      padding-left: 12px;
  }
}
@media (max-width: 992px) {
  .gray-border:hover,
  .green-border:hover {
      transform: inherit;
      box-shadow: none;
  }
  .region-sec {
      flex-direction: column;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
      color: #fff;
  }
  svg {
      fill: #fff;
  }
  h4.header-title {
      color: #fff;
  }
  .h4.header-title {
      color: #fff;
  }
  .region-test p {
      color: #fff;
  }
  .region-name {
      color: #fff;
  }
  .loader_wrapper {
      background: #5A5A5A;
  }
  .gray-border {
      border: 1px solid #5A5A5A;
  }
  .count-no {
      color: #000;
  }
  .gray-border {
      background: #000;
  }
}

/* right now */
/* .gray-border {
  background: #fff;
} */
/* right now */

/* ================================================
                    27.04.22 code
==================================================== */
.d-flex .header-title{
  margin-top: 0;
}
.region-test .d-flex {
  align-items: start;
}
.refresh-icon {
  padding-top: 9px;
}

.region-test .d-flex {
  margin-top: 90px;
}
/* ================================================
                    27.04.22 code
==================================================== */








