body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 970px;
}

.m-t-20 {
    margin-top: 20px !important;
}



.col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.org-media-region {
    justify-content: space-between;
    display: flex;
}

.d-flex {
    display: flex;
}

.header-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
    text-align: left;
}


.region-test {
    margin-top: 20px;
}

.region-test p {
    font-weight: normal;
    margin-top: 17px;
    font-size: 15px;
    margin-bottom: 0;
}

.region-test .row {
    justify-content: center;
}

.region-test .d-flex {
    justify-content: space-between;
    align-items: center;
}

.refresh-icon {
    cursor: pointer;
    position: relative;
    transition: 0.5s;

}

.refresh-icon:hover {
    transform: scale(1.1);
}

.refresh-icon img {
    height: 40px;
    transition: 0.5s;
    animation-name: spin;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.refresh-icon:hover .tooltiptext {
    visibility: visible;
    bottom: 0;
    left: 7px;
}

.refresh-icon:hover .tooltiptext:after {
    left: 39px;
}

.green-border {
    border: 1px solid #6aa84f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.gray-border {
    border: 1px solid #ccc
}

.number {
    border: 1px solid #000;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.region-sec {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 26px;
    align-items: center;
}

.region-name {
    margin-left: 15px;
}

.region-img img {
    width: 32x;
    height: 32px;
}

.latency span {
    display: block;
    font-size: 45px;
    font-weight: bold;
    line-height: 53px;
    color: #6aa84f
}

.count-no {
    position: absolute;
    right: 15px;
    bottom: 22px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border: 1px solid #eee;
}

.recomend {
    position: relative;
}

.recomend img {
    width: 100px;
    position: absolute;
    bottom: -25px;
    right: 0;
}

.latency .orange {
    color: #e69138;
}

.latency .red {
    color: #ff0000;
}